
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
      {% for item in items %}
        <header{{ item.attributes }}>{{ item.content }}</header>
      {% endfor %}
  {% else %}
    {% for item in items %}
      <header{{ attributes }}>{{ item.content }}</header>
    {% endfor %}
  {% endif %}
{% else %}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
    {% for item in items %}
      <header{{ item.attributes }}>{{ item.content }}</header>
    {% endfor %}
{% endif %}
