{% if label_hidden %}
  {% if multiple %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% else %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %}
{% else %}
  <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {% if multiple %}
  {% endif %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
  {% if multiple %}
  {% endif %}
{% endif %}
